.fixed {
float :left;
border: 20px solid #4169E1;
padding: 20px;
margin: 20px;
width: 80%;
box-sizing: content-box;
text-align: left;

}

.fixed:hover{
  border-color: #00FF7F;
}

.sizing {
  float: left;
  border: 20px solid #DC143C ;
  padding: 20px;
  margin: 20px;
  width: 80%;
  box-sizing: border-box;
  text-align: left;
}

.sizing:hover {
  border-color: #00FF7F;
}

header img {
height: 120px;
}

.fixed p {
  color: #222222;
}
