@font-face {

font-family: 'Spectral', serif;
src: url(/home/popschool/Téléchargements/Spectral/Spectral-Bold.ttf);

}

@font-face {
  font-family: 'Acme', sans-serif;
  src: url(/home/popschool/Téléchargements/Acme/Acme-Regular.ttf);
}


h1 {
  font-family: 'Spectral', serif;

}

p {
  font-family: 'Acme', sans-serif;
  width: 80em;
}

h1::first-letter {
  color: Red;
}

h2 {
  font-family: 'Spectral', serif;
}

h2:first-letter {
  color: blue;
}




img {
height: 150px;
}
